{% extends 'letter/base.html' %} {% block content %} {% load static %}
<div class="row h-100 justify-content-center align-items-center">
  <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
    <div
      class="card my-5 shadow p-3 mb-5 rounded"
      style="background-color: rgba(221, 226, 106, 0.4)"
    >
      <div class="card-body">
        <div class="card-title font-weight-bold font-italic text-center">
          <span class="letter-header">Love Letter</span>
        </div>
      </div class="subtitle">
      <p class="sub-text">Hello Dear Happy Birthday sayo! Wish a good health and stay strong to us. First of all thank you kay God dahil nagkalilala tayo, hindi ko expect na tatagal ng
        ganto yung paguusap naten then eventually na fall ako sayo ng hindi ko alam ang alam ko lang masaya ako kapag nandyan ka. minomotivate mo ako sa mga bagay kung
        saan ako mahina. at sana sa susunod ako naman yung babawi sayo sa ibang bagay o pamamaraan. at pasensya na kung wala man lang akong actual gift para sayo yung 
        tipong mahahawakan eto lang kasi kinaya ko kaya ayun po ito lang nagawa ko pero sana na appreciate mo kahit sa ganitong paraan. Masaya ako everytime na kausap
        ka lalo na kapag video call or call sa messenger. Pinapantasya kita in a way na gusto kitang tularan, in terms of physical aspect ikaw yung pinakamaganda sa
        paningin (hindi po yan joke) sabi nga chubby is the new sexy Am I right? yeah that's right babe di naman mahalaga ang mahala doon is kung paano naten
        pakisamahan yung isa't isa tas yung level of understanding. Di pa naman kita ganun kakilala pero sana minsan bawas bawasan mo yung pagiging rifle ng mouth mo
        pero alam mo kapag ganon ka di ko alam kung matutuwa ako or tatahimik ako kasi pinapagalitan mo ako, gusto kong tumawa pero di ko magawa. Mainip ba, mag aantay
        ako sayo kung yan yung gusto mo para habang nag aantay ako, ginagalingan ko naman sa ibang bagay para pagdumating na yung time na ok na may maipapakita naman ako
        sayo na kung san magiging proud ka saken. kasi sayo proud na ako lalo na yung board passer ka. Sa board passer palang swerte na ako paano pa kaya kapag ikaw? ikaw na
        gusto ko, mahal ko at magiging ina ng mga anak ko mga lima sila (biro lang natawa ka ba dyan?). Sayo lang at ikaw lang ang huling mamahalin, iba ka sa nagdaan
        hindi yan bola ha kahit magtanong ka pa sa mga kaibigan ko (hehe) soon makilala mo din sila. Ginawa ko to dahil dito ko lang masasabi yung mga gusto kong sabihin/
        sana sa kapag ka nagkita tayo. so ayun Happy Birthday Mahal mahal po kita, lagi kong papaalala at di magsasawang paalalahan ka dahil ikaw yung taong nagbigay 
        pag-asa saken para magpatuloy at naniniwala ako someday aayon din satin ang lahat maniwala ka lang. so ayun ulit Happy Birthday so sana nagustuhan mo I love you mahal.</p>
    </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    document.body.style.backgroundImage =
      "url('{% static 'letter/images/home_bg.jpg' %}')";
  });
</script>
{% endblock content %}
